
.vs/
PresidentGovUa.Parser/PresidentGovUa.Parser.JustDoIt/obj/
PresidentGovUa.Parser/PresidentGovUa.Parser.JustDoIt/bin/
PresidentGovUa.Parser/PresidentGovUa.Parser.ToCsv/obj/
PresidentGovUa.Parser/PresidentGovUa.Parser.ToCsv/bin/
PresidentGovUa.Parser/PresidentGovUa.Parser.Models/obj/
PresidentGovUa.Parser/PresidentGovUa.Parser.Models/bin/
